* {
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    justify-content: center;
    max-width: 1300px;
}

.image{
    background-color: hsl(158, 36%, 37%);
    flex-basis: 30%;
    border-radius: 15px 0px 0px 15px;
}

.text {
    background-color: white;
    border-radius: 0px 15px 15px 0px;
    flex-basis: 30%;
    padding: 35px 35px 35px 35px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 40px;
}

h2 {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat";
    font-weight: 500;
}

p{
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-family: "Montserrat";
}

.price {
    color:hsl(158, 36%, 37%);
    font-weight: 700;
    font-family: "Fraunces";
    font-size: 40px;
}

.old-price {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat";
    text-decoration: line-through;
    font-size: 15px;
}

button {
   color: hsl(30, 38%, 92%);
   font-family: "Montserrat";
   font-weight: 700;
   background-color: hsl(158, 36%, 37%);
   text-align: center;
   text-decoration: none;
   border-radius: 7px;
}

.attribution {
    font-family: 'Montserrat';
    font-size: 11px; 
    text-align: center;
    flex-basis: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 750px) {
    .card {
        display: flex;
    }
    .image {
        flex-basis: 50%;
        border-radius: 15px 15px 0px 0px;
    }
    .text {
        flex-basis: 50%;
        order: 1;
        border-radius: 0px 0px 15px 15px;
    }
}